In [1]:
from datascience import *
import numpy as np
import matplotlib
matplotlib.use('Agg')
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

Tạo dữ liệu bảng

In [3]:
ds = Table().with_columns("Ho va Ten", make_array("Le Thi Ngheo", "Tran Van Kha", "Do Van Tam", "Nguyen Thi Binh", "Vo Van Giau", "Ly Thieu An"), "Tuoi", make_array(17, 98, 52, 34, 62, 50), "So Du (VND)", make_array(4.567E+5, 3.456E+7, 2.345E+6, 1.23E+7, 5.678E+9, 1.2e3))
ds.show()

Chuyển đổi Số Dư

In [ ]:
# Chuyển đổi các giá trị trong cột "So Du (VND)" thành số đầy đủ
vnd = ds.apply(lambda x: "{:,.2f}".format(x), "So Du (VND)")

# Thay thế cột "So Du (VND)" bằng dữ liệu mới
ds = ds.with_column("So Du (VND)", vnd)

# Hiển thị bảng với dữ liệu đã được thay đổi
ds.show()

Sắp xếp họ và tên theo tên

In [ ]:
#tách tên trong cột Ho va Ten để lấy danh sách tên
ds_ten = ds.apply(lambda x: x.split()[-1],"Ho va Ten")
#tạo thêm cột Ten rtừ ds Ten
ds = ds.with_column("Ten", ds_ten)
#sắp xếp bảng theo tên
ds_sorted = ds.sort("Ten").drop("Ten")
ds_sorted

Ho va Ten       | Tuoi | So Du (VND)
Ly Thieu An     | 50   | 1,200.00
Nguyen Thi Binh | 34   | 12,300,000.00
Vo Van Giau     | 62   | 5,678,000,000.00
Tran Van Kha    | 98   | 34,560,000.00
Le Thi Ngheo    | 17   | 456,700.00
Do Van Tam      | 52   | 2,345,000.00

viết một hàm xử lí phần họ và tên thành viết tắt.

In [ ]:

def Ho_va_Ten(Ho_va_Ten):
  parts = Ho_va_Ten.split()
  ho_dem = parts[:-1]
  ten = parts[-1]
  viet_tat = ".".join([part[0] for part in ho_dem])
  return viet_tat + "." + ten
ds_viet_tat = ds_sorted.apply(Ho_va_Ten,"Ho va Ten")
ds_sorted = ds_sorted.with_column("Ho va Ten",ds_viet_tat)
ds_sorted

Ho va Ten | Tuoi | So Du (VND)
L.T.An    | 50   | 1,200.00
N.T.Binh  | 34   | 12,300,000.00
V.V.Giau  | 62   | 5,678,000,000.00
T.V.Kha   | 98   | 34,560,000.00
L.T.Ngheo | 17   | 456,700.00
D.V.Tam   | 52   | 2,345,000.00